<nav>
<a {% if page.group == 'home' or page.url == "/" %}class="current" {% endif %}href="/">Home</a>
<a {% if page.group == 'nix' or page.category == 'nix' %}class="current" {% endif %}href="/nix/">Nix</a>
<!--
<a {% if page.group == 'home' or page.url == "/" %}class="current" {% endif %}href="/">Home</a>
<a {% if page.group == 'python' or page.category == 'python' %}class="current" {% endif %}href="/python/">Python</a>
<a {% if page.group == 'crawler' or page.category == 'crawler' %}class="current" {% endif %}href="/crawler/">Crawler</a>
<a {% if page.group == 'keywords' or page.category == 'keywords' %}class="current" {% endif %}href="/keywords/">Keywords</a>
-->
</nav>
