- [Post 320](/blog/post-320/) 12/19/2022
- [My Technology Predictions For 2023](/blog/my-technology-predictions-for-2023/) 12/18/2022
- [Rotating Logo Returns and Key Advice in Life](/blog/rotating-logo-returns-and-key-advice-in-life/) 12/17/2022
- [The Python Pandas .iloc Interface Explained For The Befuddled](/blog/the-python-pandas-iloc-interface-explained-for-the-befuddled/) 12/16/2022
- [E-E-A-T The New Google Quality Guidelines](/blog/e-e-a-t-the-new-google-quality-guidelines/) 12/16/2022
- [But Should We Still Blog? Should It All Just Fade Away?](/blog/but-should-we-still-blog-should-it-all-just-fade-away/) 12/15/2022
- [Managing Static Vs. Dynamic Leads to Practical Fusion & a Better You](/blog/managing-static-vs-dynamic-leads-to-practical-fusion-a-better-you/) 12/15/2022
- [Me vs. ChatGPT: Tell me why I should use the Python programming language.](/blog/me-vs-chatgpt-tell-me-why-i-should-use-the-python-programming-language/) 12/14/2022
- [Let The Decrufting Begin!](/blog/let-the-decrufting-begin/) 12/14/2022
- [Using Named Tuples to Define API-job & Perform Housekeeping](/blog/using-named-tuples-to-define-api-job-perform-housekeeping/) 12/13/2022
- [My main git reminders](/blog/my-main-git-reminders/) 12/13/2022
- [Editing All Pages All At Once](/blog/editing-all-pages-all-at-once/) 12/13/2022
- [Fusion Ignition Achieved! Q = 1 Thanks to Lawrence Livermore National Laboratory](/blog/fusion-ignition-achieved-q-1-thanks-to-lawrence-livermore-national-laboratory/) 12/13/2022
- [With AI On The Way, You Had Better Be Able to Write Daemons](/blog/with-ai-on-the-way-you-had-better-be-able-to-write-daemons/) 12/13/2022
- [Testing Github Pages Mermaid Diagrams](/blog/testing-github-pages-mermaid-diagrams/) 12/12/2022
- [Surviving Google's Helpful Content Update (Surviving Helpfulgeddon)](/blog/surviving-googles-helpful-content-update-surviving-helpfulgeddon/) 12/12/2022
- [ChatGPT Helping Me Visualize The Future (Unknown Unknowns)](/blog/chatgpt-helping-me-visualize-the-future-unknown-unknowns/) 12/11/2022
- [A Magic Spell Called Levinux That Introduces People to Linux](/blog/a-magic-spell-called-levinux-that-introduces-people-to-linux/) 12/11/2022
- [The Rise of BFF SEO (Best Foot Forward Search Engine Optimization)](/blog/the-rise-of-bff-seo-best-foot-forward-search-engine-optimization/) 12/11/2022
- [ChatGPT: Write an article about everyone in the world discovering Linux and abandoning Windows and Mac.](/blog/chatgpt-write-an-article-about-everyone-in-the-world-discovering-linux-and-abandoning-windows-and-mac/) 12/11/2022
- [ChatGPT: Write an article about the controversial history of Coke.](/blog/chatgpt-write-an-article-about-the-controversial-history-of-coke/) 12/11/2022
- [Down with Long-Tail SEO and up with Best Foot Forward SEO (BFF)](/blog/down-with-long-tail-seo-and-up-with-best-foot-forward-seo-bff/) 12/11/2022
- [Are You An Imposter? Have You Heard of Imposter Syndrome?](/blog/are-you-an-imposter-have-you-heard-of-imposter-syndrome/) 12/10/2022
- [Life After DeluxePaint and The Amiga](/blog/life-after-deluxepaint-and-the-amiga/) 12/10/2022
- [Python Playwright CodeGen and Playwright Inspector Tools](/blog/python-playwright-codegen-and-playwright-inspector-tools/) 12/08/2022
- [Doing a Google Analytics API Project (Filtering US Only Traffic)](/blog/doing-a-google-analytics-api-project-filtering-us-only-traffic/) 12/06/2022
- [When Are We Not Adapting to New Realities?](/blog/when-are-we-not-adapting-to-new-realities/) 12/05/2022
- [What OpenAI GPT-3 Knows About Virtual Particles](/blog/what-openai-gpt-3-knows-about-virtual-particles/) 12/04/2022
- [Contemplating Labeling Latest Work Pipulate Again](/blog/contemplating-labeling-latest-work-pipulate-again/) 12/02/2022
- [Don't Miss My Talk with OpenAI about clickbait headlines!](/blog/dont-miss-my-talk-with-openai-about-clickbait-headlines/) 12/02/2022
- [Combine CSV Files with Python Pandas](/blog/combine-csv-files-with-python-pandas/) 12/01/2022
- [Much Starts With the Ability To Create and Use Local Caches](/blog/much-starts-with-the-ability-to-create-and-use-local-caches/) 12/01/2022
- [Clear Screen, Clear Mind... Focus, Focus, Focus!](/blog/clear-screen-clear-mind-focus-focus-focus/) 11/30/2022
- [Become Aware of How Tech-churn Harms You](/blog/become-aware-of-how-tech-churn-harms-you/) 11/30/2022
- [vim is the cure to Imposter Syndrome (vimpossible!)](/blog/vim-is-the-cure-to-imposter-syndrome-vimpossible/) 11/30/2022
- [The Bottom Turtle is Microsoft, and That's Okay](/blog/the-bottom-turtle-is-microsoft-and-thats-okay/) 11/29/2022
- [LXDWIN is now the DrinkMe JupyterLab Linux Install Script](/blog/lxdwin-is-now-the-drinkme-jupyterlab-linux-install-script/) 11/29/2022
- [WSL Linux Graphics and Systemd Support Takes Priority Over LXD](/blog/wsl-linux-graphics-and-systemd-support-takes-priority-over-lxd/) 11/29/2022
- [Microsoft Added Linux Graphics and Systemd to WSL for Windows 10](/blog/microsoft-added-linux-graphics-and-systemd-to-wsl-for-windows-10/) 11/27/2022
- [Planning a Spell](/blog/planning-a-spell/) 11/18/2022
- [Planning Total Life's Work](/blog/planning-total-lifes-work/) 11/17/2022
- [LXDWIN and The Day Job](/blog/lxdwin-and-the-day-job/) 11/15/2022
- [Make LXDWIN much about vim](/blog/make-lxdwin-much-about-vim/) 11/11/2022
- [Visualizing Change is Projecting Epigenetic Templates](/blog/visualizing-change-is-projecting-epigenetic-templates/) 11/08/2022
- [Happy Birthday Adi!](/blog/happy-birthday-adi/) 11/07/2022
- [Are Things Easy?](/blog/are-things-easy/) 11/07/2022
- [Just Moving Life Forward](/blog/just-moving-life-forward/) 11/06/2022
- [Made a Python Program to Rot13 an id_rsa file for Github](/blog/made-a-python-program-to-rot13-an-id-rsa-file-for-github/) 11/05/2022
- [Joining Data Between Spreadsheet Tabs Better Than VLookup](/blog/joining-data-between-spreadsheet-tabs-better-than-vlookup/) 11/04/2022
- [Permission denied publickey fatal Could not read from remote repository](/blog/permission-denied-publickey-fatal-could-not-read-from-remote-repository/) 11/04/2022
- [Powering My Way Through 3 Different Data Automation Projects](/blog/powering-my-way-through-3-different-data-automation-projects/) 11/03/2022
- [Planning the Lifehack Email](/blog/planning-the-lifehack-email/) 11/02/2022
- [Chasing The Tech Rabbit](/blog/chasing-the-tech-rabbit/) 10/28/2022
- [Cast a Homunculus Majordomo to Help Run Your Life](/blog/cast-a-homunculus-majordomo-to-help-run-your-life/) 10/28/2022
- [How to Use the Screen Command for Linux Service](/blog/how-to-use-the-screen-command-for-linux-service/) 10/28/2022
- [You Need a Personal Server In Your Life & The Time is Nigh](/blog/you-need-a-personal-server-in-your-life-the-time-is-nigh/) 10/27/2022
- [Running Automated Script on NAS 24x7 Under LXD Container](/blog/running-automated-script-on-nas-24x7-under-lxd-container/) 10/26/2022
- [A Little Abstraction Is Nice But Too Much Will Paralyze You](/blog/a-little-abstraction-is-nice-but-too-much-will-paralyze-you/) 10/26/2022
- [Reversing Desensitization And Dehumanization](/blog/reversing-desensitization-and-dehumanization/) 10/26/2022
- [Is Dark Energy Consciousness Choosing Gated Communities Over Heat Death?](/blog/is-dark-energy-consciousness-choosing-gated-communities-over-heat-death/) 10/26/2022
- [How Do I Not Have a Portable Power Station Already?](/blog/how-do-i-not-have-a-portable-power-station-already/) 10/26/2022
- [Bank a Win Then Figure Out How You Did It](/blog/bank-a-win-then-figure-out-how-you-did-it/) 10/26/2022
- [Setting Up QNAP NAS LXD Linux Container on Container Station](/blog/setting-up-qnap-nas-lxd-linux-container-on-container-station/) 10/25/2022
- [Getting My Local 24x7 Place to Run Code](/blog/getting-my-local-24x7-place-to-run-code/) 10/24/2022
- [Bundle an LXD Linux Container for Pyppeteer and Playwright Automation](/blog/bundle-an-lxd-linux-container-for-pyppeteer-and-playwright-automation/) 10/20/2022
- [Still Figuring Out Next Step & What I Want at 52](/blog/still-figuring-out-next-step-what-i-want-at-52/) 10/20/2022
- [Always Finding The Love In Things](/blog/always-finding-the-love-in-things/) 10/17/2022
- [Being On Your Own In Life](/blog/being-on-your-own-in-life/) 10/16/2022
- [Practicing What I Preach](/blog/practicing-what-i-preach/) 10/15/2022
- [Tried To Start a Project](/blog/tried-to-start-a-project/) 10/02/2022
- [The Walrus & The Carpenter Who Had Trouble Getting to Solla Sollew](/blog/the-walrus-the-carpenter-who-had-trouble-getting-to-solla-sollew/) 10/01/2022
- [Harmonizing a Windows-side Python Script with a Linux-side Python Script](/blog/harmonizing-a-windows-side-python-script-with-a-linux-side-python-script/) 10/01/2022
- [October First No Gamma Burst... So Far So Good.](/blog/october-first-no-gamma-burst-so-far-so-good/) 10/01/2022
- [Okay, I'll Bite. Could Quantum Mechanics Be Related to Remote Viewing?](/blog/okay-ill-bite-could-quantum-mechanics-be-related-to-remote-viewing/) 09/30/2022
- [Start Documenting My Best Tricks On This Site](/blog/start-documenting-my-best-tricks-on-this-site/) 09/30/2022
- [Portable Script to Help Edit Many Files at Once with Python venv-friendly shebang!](/blog/portable-script-to-help-edit-many-files-at-once-with-python-venv-friendly-shebang/) 09/28/2022
- [SERP Scraping with site: Search Modifier and Custom Date Range](/blog/serp-scraping-with-site-search-modifier-and-custom-date-range/) 09/26/2022
- [Automating Cycling IPs on HMA VPN Using PyWinAuto](/blog/automating-cycling-ips-on-hma-vpn-using-pywinauto/) 09/26/2022
- [Programming a Python Do Nothing Machine](/blog/programming-a-python-do-nothing-machine/) 09/26/2022
- [Failed To Get This Going During Weekend](/blog/failed-to-get-this-going-during-weekend/) 09/25/2022
- [If Greys Exist They're a Banana Crops](/blog/if-greys-exist-theyre-a-banana-crops/) 09/23/2022
- [Working on a TikTok Script](/blog/working-on-a-tiktok-script/) 09/22/2022
- [Google Chrome for Linux Under LXD on WSL on Windows](/blog/google-chrome-for-linux-under-lxd-on-wsl-on-windows/) 09/21/2022
- [WSL2LXD is now lxdwin, Apt & Pip Installs Done. Graphics Implemented.](/blog/wsl2lxd-is-now-lxdwin-apt-pip-installs-done-graphics-implemented/) 09/21/2022
- [Windows Symbolic Link to Map Shared Folder Location to Local Folder](/blog/windows-symbolic-link-to-map-shared-folder-location-to-local-folder/) 09/20/2022
- [Created Windows Shortcut To Start Linux Jupyter on LXD](/blog/created-windows-shortcut-to-start-linux-jupyter-on-lxd/) 09/20/2022
- [The Two Maxwell's of Light / You Can't Take It With You](/blog/the-two-maxwells-of-light-you-cant-take-it-with-you/) 09/18/2022
- [Running Ubuntu 18.04 and Ubuntu 20.04 Simultaneously Under WSL 2](/blog/running-ubuntu-18-04-and-ubuntu-20-04-simultaneously-under-wsl-2/) 09/17/2022
- [Preserving ~/.jupyter config files between WSL 2 LXD installs](/blog/preserving-jupyter-config-files-between-wsl-2-lxd-installs/) 09/17/2022
- [ubuntu1804.exe, ubuntu2004.exe and ubuntu2204.exe Oh My!](/blog/ubuntu1804-exe-ubuntu2004-exe-and-ubuntu2204-exe-oh-my/) 09/16/2022
- [Install Script and Start Script for Jupyter on LXD on WSL on Windows](/blog/install-script-and-start-script-for-jupyter-on-lxd-on-wsl-on-windows/) 09/16/2022
- [Already Renamed Jupyme to WSL2LXD](/blog/already-renamed-jupyme-to-wsl2lxd/) 09/15/2022
- [Writing Automated Install Script for LXD & Jupyter on WSL](/blog/writing-automated-install-script-for-lxd-jupyter-on-wsl/) 09/14/2022
- [Switching From WSL to LXD Containers Permanently](/blog/switching-from-wsl-to-lxd-containers-permanently/) 09/13/2022
- [Going Down the WSL to LXD Install Script Rabbit Hole](/blog/going-down-the-wsl-to-lxd-install-script-rabbit-hole/) 09/12/2022
- [Developing Priceless and Timeless Tech Habits](/blog/developing-priceless-and-timeless-tech-habits/) 09/12/2022
- [Recovering Old Laptops For Video Production Purposes](/blog/recovering-old-laptops-for-video-production-purposes/) 09/11/2022
- [Let People Know How You Feel](/blog/let-people-know-how-you-feel/) 09/10/2022
- [The Coddling Of The American Mind. Yup. Someone's a Big Fragile.](/blog/the-coddling-of-the-american-mind-yup-someones-a-big-fragile/) 09/10/2022
- [Writing First Version of Install Scripts for Jupyter on LXD on WSL](/blog/writing-first-version-of-install-scripts-for-jupyter-on-lxd-on-wsl/) 09/09/2022
- [Run Jupyter from LXD Linux Container on Windows](/blog/run-jupyter-from-lxd-linux-container-on-windows/) 09/08/2022
- [Thinking Through Jupyter Video](/blog/thinking-through-jupyter-video/) 09/08/2022
- [Getting Ready to Teach Installing Jupyter Right](/blog/getting-ready-to-teach-installing-jupyter-right/) 09/07/2022
- [From Zero (Windows) to Linux In 8 Steps](/blog/from-zero-windows-to-linux-in-8-steps/) 09/02/2022
- [Fight the Chaos of Windows 10 : Use Virtual Desktops & Linux](/blog/fight-the-chaos-of-windows-10-use-virtual-desktops-linux/) 09/02/2022
- [Your current video card driver does not support this NVENC version please update your drivers.](/blog/your-current-video-card-driver-does-not-support-this-nvenc-version-please-update-your-drivers/) 09/02/2022
- [OpenPyXL for creating a formatted Excel file from Python](/blog/openpyxl-for-creating-a-formatted-excel-file-from-python/) 09/01/2022
- [Planning Multiple Blogs Within One Github Pages Site](/blog/planning-multiple-blogs-within-one-github-pages-site/) 09/01/2022
- [AI Will Do SEO Better Than Any Human Ever Did](/blog/ai-will-do-seo-better-than-any-human-ever-did/) 08/31/2022
- [This Is Where I Reversed The ASCII Rabbit](/blog/this-is-where-i-reversed-the-ascii-rabbit/) 08/31/2022
- [What'cha Gonna Do When You're Fifty Two?](/blog/whatcha-gonna-do-when-youre-fifty-two/) 08/27/2022
- [Plot The Awakening / Rig For YouTube Success](/blog/plot-the-awakening-rig-for-youtube-success/) 08/26/2022
- [Knowing Protection & Emotional Protection](/blog/knowing-protection-emotional-protection/) 08/26/2022
- [Get the LPvg Message On-Point with a series of 1-minute videos](/blog/get-the-lpvg-message-on-point-with-a-series-of-1-minute-videos/) 08/26/2022
- [Sub-Linux Sub-Love So-Learn](/blog/sub-linux-sub-love-so-learn/) 08/26/2022
- [Planning a Video Series That Drives Message Home](/blog/planning-a-video-series-that-drives-message-home/) 08/25/2022
- [I'm Mike Levin helping you fight obsolescence](/blog/im-mike-levin-helping-you-fight-obsolescence/) 08/19/2022
- [Internalizing Tools Through Eepigenetics](/blog/internalizing-tools-through-eepigenetics/) 08/18/2022
- [Monitoring Github Pages github.io System For Errors](/blog/monitoring-github-pages-github-io-system-for-errors/) 08/18/2022
- [Reworking Site](/blog/reworking-site/) 08/17/2022
- [A Day In The Life of An SEO SERPs, Python Pandas & SEMRush](/blog/a-day-in-the-life-of-an-seo-serps-python-pandas-semrush/) 08/17/2022
- [Bring Pipulate & Levinux Back Into The Picture](/blog/bring-pipulate-levinux-back-into-the-picture/) 08/17/2022
- [Why Pages Aren't Usable On Mobile, Fixing!](/blog/why-pages-arent-usable-on-mobile-fixing/) 08/16/2022
- [Choosing Best CSS Framework For Github Pages and Jekyll](/blog/choosing-best-css-framework-for-github-pages-and-jekyll/) 08/15/2022
- [Why Linux Fights Obsolescence and LXD is Key](/blog/why-linux-fights-obsolescence-and-lxd-is-key/) 08/13/2022
- [Run LXD Linux Containers on Windows WSL 2 Ubuntu 20.04 and 22.04](/blog/run-lxd-linux-containers-on-windows-wsl-2-ubuntu-20-04-and-22-04/) 08/12/2022
- [Use Python to Cycle Your IP with HMA VPN Software and Windows Automation](/blog/use-python-to-cycle-your-ip-with-hma-vpn-software-and-windows-automation/) 08/11/2022
- [Switching a Python Scheduler to Huey Task Queue Using Crontab API](/blog/switching-a-python-scheduler-to-huey-task-queue-using-crontab-api/) 08/09/2022
- [TechSmith Camtasia Took Away Screen Recorder Hide Taskbar Icon Feature](/blog/techsmith-camtasia-took-away-screen-recorder-hide-taskbar-icon-feature/) 08/09/2022
- [Windows Terminal Stuck Full-Screen, No Tabs & process exited with code 1](/blog/windows-terminal-stuck-full-screen-no-tabs-process-exited-with-code-1/) 08/09/2022
- [Turning Python Huey Data Pipeline into Schedule Repo Alternative](/blog/turning-python-huey-data-pipeline-into-schedule-repo-alternative/) 08/06/2022
- [How to Share an SSH Key with Linux Container to Eliminate Passwords](/blog/how-to-share-an-ssh-key-with-linux-container-to-eliminate-passwords/) 08/05/2022
- [Lightweight Python Data Pipelining With Huey (to Replace Scheduler)](/blog/lightweight-python-data-pipelining-with-huey-to-replace-scheduler/) 08/04/2022
- [Use Perceptual Image Hash as Database Primary Key for Cats](/blog/use-perceptual-image-hash-as-database-primary-key-for-cats/) 08/04/2022
- [Use Python Decorators For Linux Service Scheduling](/blog/use-python-decorators-for-linux-service-scheduling/) 08/03/2022
- [Ubuntu 18.04 vs Ubuntu 20.04 for LXD Under WSL2, Wizard Defaults](/blog/ubuntu-18-04-vs-ubuntu-20-04-for-lxd-under-wsl2-wizard-defaults/) 08/02/2022
- [You Get Blinded By The Hardware](/blog/you-get-blinded-by-the-hardware/) 08/03/2022
- [Send Email With File Attachment From Python](/blog/send-email-with-file-attachment-from-python/) 08/02/2022
- [Sending an HTML Email with Embedded Image From Python](/blog/sending-an-html-email-with-embedded-image-from-python/) 08/02/2022
- [From Sending Email in Jupyter to Sending Email in Linux Service](/blog/from-sending-email-in-jupyter-to-sending-email-in-linux-service/) 08/02/2022
- [Write a Linux Scheduler Service in Python](/blog/write-a-linux-scheduler-service-in-python/) 08/01/2022
- [Build Linux container on Windows and Install Python 3.10](/blog/build-linux-container-on-windows-and-install-python-3-10/) 08/01/2022
- [Share Folder Between Windows, WSL Linux, Container and Home Cloud](/blog/share-folder-between-windows-wsl-linux-container-and-home-cloud/) 07/31/2022
- [Do You Still Really Need Windows? Switching To Linux in 2022](/blog/do-you-still-really-need-windows-switching-to-linux-in-2022/) 07/31/2022
- [You Won't Be Using Windows in 5 Years](/blog/you-wont-be-using-windows-in-5-years/) 07/30/2022
- [Fixing Broken Jekyll Rouge Code Color Coding in Github Pages Theme](/blog/fixing-broken-jekyll-rouge-code-color-coding-in-github-pages-theme/) 07/30/2022
- [Knowing what GNU screen you're on with .screenrc](/blog/knowing-what-gnu-screen-youre-on-with-screenrc/) 07/30/2022
- [Sending Emails With Python Through SMTP](/blog/sending-emails-with-python-through-smtp/) 07/29/2022
- [Using GNU Screen to Monitor Linux System Daemon Service](/blog/using-gnu-screen-to-monitor-linux-system-daemon-service/) 07/29/2022
- [Setting Up LXD on WSL2 with systemd enabled Ubuntu 18.04](/blog/setting-up-lxd-on-wsl2-with-systemd-enabled-ubuntu-18-04/) 07/27/2022
- [Windows 11 is more like Windows Il (for It's Linux)](/blog/windows-11-is-more-like-windows-il-for-its-linux/) 07/26/2022
- [Linux Container Under Windows 10 WSL Supporting Graphics](/blog/linux-container-under-windows-10-wsl-supporting-graphics/) 07/26/2022
- [Removing Password Authentication from SSH Services](/blog/removing-password-authentication-from-ssh-services/) 07/25/2022
- [New Container Station LXD Ubuntu 18.04 Image and SSH Server Install](/blog/new-container-station-lxd-ubuntu-18-04-image-and-ssh-server-install/) 07/25/2022
- [LXD Container on Windows WSL2 Using NAS SMB/CIFS Share](/blog/lxd-container-on-windows-wsl2-using-nas-smb-cifs-share/) 07/25/2022
- [Learning *nix Today Means Learning systemd!](/blog/learning-nix-today-means-learning-systemd/) 07/24/2022
- [From Average Windows User to Linux Terminal User](/blog/from-average-windows-user-to-linux-terminal-user/) 07/22/2022
- [Do Not Lose The Power of Touch Typing Despite AI APIs](/blog/do-not-lose-the-power-of-touch-typing-despite-ai-apis/) 07/22/2022
- [Moving Is Not Easy To Do: Real-life or Linux](/blog/moving-is-not-easy-to-do-real-life-or-linux/) 07/21/2022
- [Moving Into LXD WSL2 ~/ "Home" Once You've Moved Into Containers](/blog/moving-into-lxd-wsl2-home-once-youve-moved-into-containers/) 07/20/2022
- [Refresh Your Mind With The LXD API](/blog/refresh-your-mind-with-the-lxd-api/) 07/18/2022
- [Fairly Certain I Had a Brush With Catknappers](/blog/fairly-certain-i-had-a-brush-with-catknappers/) 07/03/2022
- [Adding the Who, What, Why, When, Where & How To Site Nav](/blog/adding-the-who-what-why-when-where-how-to-site-nav/) 06/28/2022
- [The Key LXC API Detail I Must Master](/blog/the-key-lxc-api-detail-i-must-master/) 06/27/2022
- [Figuring Out The LXD/LXC Command-line API](/blog/figuring-out-the-lxd-lxc-command-line-api/) 06/25/2022
- [vim tricks: Why The Walrus Fears The Carpenter](/blog/vim-tricks-why-the-walrus-fears-the-carpenter/) 06/25/2022
- [LXD Linux Containers in Windows Linux WSL2, But What Is Home?](/blog/lxd-linux-containers-in-windows-linux-wsl2-but-what-is-home/) 06/24/2022
- [Get LXD Running Under WSL2 on Windows 11 with Ubuntu 18.04](/blog/get-lxd-running-under-wsl2-on-windows-11-with-ubuntu-18-04/) 06/23/2022
- [On Being Unstoppable, APIs & LXD / LXD Under WSL2 (Success!)](/blog/on-being-unstoppable-apis-lxd-lxd-under-wsl2-success/) 06/23/2022
- [Fixing Jupyter Desktop Set Python Environment Error Message](/blog/fixing-jupyter-desktop-set-python-environment-error-message/) 06/22/2022
- [Livestreaming Question & Answers With YouTube Audience](/blog/livestreaming-question-answers-with-youtube-audience/) 06/22/2022
- [Storytime with Mic Lovin' - The Wizard of Oz's Redemption Story Arc](/blog/storytime-with-mic-lovin-the-wizard-of-ozs-redemption-story-arc/) 06/22/2022
- [Making Every Morning Like Xmas Morning / Non-stop Surprises & Learning](/blog/making-every-morning-like-xmas-morning-non-stop-surprises-learning/) 06/21/2022
- [Every Little Thing gets done (ELTgd) Leads to More Epic Days](/blog/every-little-thing-gets-done-eltgd-leads-to-more-epic-days/) 06/20/2022
- [Github Pages Jekyll Previous/Next Arrows For Categories](/blog/github-pages-jekyll-previous-next-arrows-for-categories/) 06/20/2022
- [Qnap Container Station Lxc End Of Support Notification, Move To Lxd](/blog/qnap-container-station-lxc-end-of-support-notification-move-to-lxd/) 06/20/2022
- [Gutting Dependencies Out Of Your Projects & Life](/blog/gutting-dependencies-out-of-your-projects-life/) 06/20/2022
- [Removing a Package From PyPI.org (a pip installable app I created)](/blog/removing-a-package-from-pypi-org-a-pip-installable-app-i-created/) 06/19/2022
- [Having The Confidence To Diverge From nbdev File Naming Convention](/blog/having-the-confidence-to-diverge-from-nbdev-file-naming-convention/) 06/19/2022
- [I'll Just Put This In My /usr/local/sbin/](/blog/ill-just-put-this-in-my-usr-local-sbin/) 06/18/2022
- [Education Of The Woogle Bug](/blog/education-of-the-woogle-bug/) 06/18/2022
- [Throw All The Meat & Veggies Into The Stew & Stir The Blog / Vlog](/blog/throw-all-the-meat-veggies-into-the-stew-stir-the-blog-vlog/) 06/17/2022
- [The Epic nbdev Static Site Generator Post](/blog/the-epic-nbdev-static-site-generator-post/) 06/16/2022
- [There's No Place Like Home & You Get To Decide Where That Is... Or Do You?](/blog/theres-no-place-like-home-you-get-to-decide-where-that-is-or-do-you/) 06/16/2022
- [Microsoft Edge history is now syncing (turn off)](/blog/microsoft-edge-history-is-now-syncing-turn-off/) 06/15/2022
- [LXD on WSL2 is a Few Months Ahead Of Its Time](/blog/lxd-on-wsl2-is-a-few-months-ahead-of-its-time/) 06/15/2022
- [Reverting WSL2 From Ubuntu 20.04 to 18.04 To Get LXD Containers Working](/blog/reverting-wsl2-from-ubuntu-20-04-to-18-04-to-get-lxd-containers-working/) 06/15/2022
- [Windows Updates KB5014699 & KB5013887 & LXD on WSL2 Under Ubuntu 20.04](/blog/windows-updates-kb5014699-kb5013887-lxd-on-wsl2-under-ubuntu-20-04/) 06/15/2022
- [Failed Getting LXD Working Under WSL2 Under Ubuntu 20.04 systemd & snap](/blog/failed-getting-lxd-working-under-wsl2-under-ubuntu-20-04-systemd-snap/) 06/14/2022
- [Trying Again To Get LXD Working Under Microsoft Subsystem For Linux](/blog/trying-again-to-get-lxd-working-under-microsoft-subsystem-for-linux/) 06/14/2022
- [Sun Microsystem's Zettabyte File System (OpenSolaris ZFS) Under WSL2](/blog/sun-microsystems-zettabyte-file-system-opensolaris-zfs-under-wsl2/) 06/14/2022
- [My Formative Years at All-Boys Science Summer Camp / Integrated Life](/blog/my-formative-years-at-all-boys-science-summer-camp-integrated-life/) 06/13/2022
- [s-expressions, LISP, Linked Lists, Associative Arrays, Reductionism, Luddites & Dogma](/blog/s-expressions-lisp-linked-lists-associative-arrays-reductionism-luddites-dogma/) 06/12/2022
- [Say The Magic Words: Open Terminal!](/blog/say-the-magic-words-open-terminal/) 06/11/2022
- [What I Want To Offer The World Doesn't Align With Existing YouTube Search](/blog/what-i-want-to-offer-the-world-doesnt-align-with-existing-youtube-search/) 06/10/2022
- [Remain Positive & Know Signs Of When You're Doing Something Right](/blog/remain-positive-know-signs-of-when-youre-doing-something-right/) 06/10/2022
- [wsl --install Rocks Your World with Linux (Learn Linux Fast!)](/blog/wsl-install-rocks-your-world-with-linux-learn-linux-fast/) 06/09/2022
- [Installing WSL2 on Windows 10 Requires Kernel Update And Hypervisor Turned On](/blog/installing-wsl2-on-windows-10-requires-kernel-update-and-hypervisor-turned-on/) 06/09/2022
- [Thirty-Year Anniversary of Dad's Death (I Am Not a Check Casher)](/blog/thirty-year-anniversary-of-dads-death-i-am-not-a-check-casher/) 06/08/2022
- [Do The Right Thing Morally, Spiritually & Technically](/blog/do-the-right-thing-morally-spiritually-technically/) 06/08/2022
- [I'll Blow Up On YouTube When I Want To](/blog/ill-blow-up-on-youtube-when-i-want-to/) 06/08/2022
- [Is There Anyone Cheesier Than Whitney Avalon?](/blog/is-there-anyone-cheesier-than-whitney-avalon/) 06/07/2022
- [Learning Linux Lesson #2: RUN! Run it from CLI!](/blog/learning-linux-lesson-2-run-run-it-from-cli/) 06/07/2022
- [Start Learning Linux by Learning About What Pissed Off Fernando Corbato](/blog/start-learning-linux-by-learning-about-what-pissed-off-fernando-corbato/) 06/07/2022
- [Go For Broke Connecting The Dots](/blog/go-for-broke-connecting-the-dots/) 06/03/2022
- [How EMDR Lives Between Tetris-Therapy and Psychotherapy](/blog/how-emdr-lives-between-tetris-therapy-and-psychotherapy/) 06/01/2022
- [Fluorescent Ultraviolet Psychedelic Blacklight Snake Cobra Poster](/blog/fluorescent-ultraviolet-psychedelic-blacklight-snake-cobra-poster/) 06/01/2022
- [What To Do? How To Always Be Doing Step #1!](/blog/what-to-do-how-to-always-be-doing-step-1/) 05/31/2022
- [Movie Night: From Mean Girls to Heathers and Beyond!](/blog/movie-night-from-mean-girls-to-heathers-and-beyond/) 05/31/2022
- [Boosting YouTube Watch Time / YouTube Analytics](/blog/boosting-youtube-watch-time-youtube-analytics/) 05/31/2022
- [One More Month of Respite From City Life](/blog/one-more-month-of-respite-from-city-life/) 05/30/2022
- [Gathering My Stories](/blog/gathering-my-stories/) 05/30/2022
- [Levinux, a Small Linux Distro without GUI for Education](/blog/levinux-a-small-linux-distro-without-gui-for-education/) 05/29/2022
- [If I Were Green I Would Die. Abba Di Abba Di.](/blog/if-i-were-green-i-would-die-abba-di-abba-di/) 05/29/2022
- [I Don't Want To Blow Up](/blog/i-dont-want-to-blow-up/) 05/28/2022
- [Web Development is For Chumps. Try Linux Services, Instead.](/blog/web-development-is-for-chumps-try-linux-services-instead/) 05/28/2022
- [vim Macro to Format Markdown Poetry](/blog/vim-macro-to-format-markdown-poetry/) 05/27/2022
- [Trying to get Python sbin commands from nbdev](/blog/trying-to-get-python-sbin-commands-from-nbdev/) 05/26/2022
- [Write Python Webcrawler! Toil & Talk w/Audience](/blog/write-python-webcrawler-toil-talk-w-audience/) 05/26/2022
- [Python SEO Step #1: Persistent Dictionaries](/blog/python-seo-step-1-persistent-dictionaries/) 05/25/2022
- [1991 Was An Eventful Year For Tech](/blog/1991-was-an-eventful-year-for-tech/) 05/25/2022
- [Cancelling Netflix and Chill (T-Mobile offer)](/blog/cancelling-netflix-and-chill-t-mobile-offer/) 05/25/2022
- [Center, A Poem](/blog/center-a-poem/) 05/23/2022
- [Install ZFSUtils-Linux To Prep For LXD on WSL](/blog/install-zfsutils-linux-to-prep-for-lxd-on-wsl/) 05/23/2022
- [I Don't Want To Blow Up](/blog/i-dont-want-to-blow-up/) 05/22/2022
- [Putting mlseo on subdomain of MikeLevinSEO.com](/blog/putting-mlseo-on-subdomain-of-mikelevinseo-com/) 05/21/2022
- [A Tale of Two Pipers](/blog/a-tale-of-two-pipers/) 05/20/2022
- [Easy Peasy Computer Literacy](/blog/easy-peasy-computer-literacy/) 05/20/2022
- [Recording vim macro for markdown image insertion](/blog/recording-vim-macro-for-markdown-image-insertion/) 05/19/2022
- [Little Things, Big Changes](/blog/little-things-big-changes/) 05/19/2022
- [I've Got a Mic](/blog/ive-got-a-mic/) 05/19/2022
- [Imagining vim Macro That Makes Markdown Image Code](/blog/imagining-vim-macro-that-makes-markdown-image-code/) 05/18/2022
- [Connecting The Dots Ain't Easy](/blog/connecting-the-dots-aint-easy/) 05/18/2022
- [Add Flax Seeds to Blended Drinks to Make Your Poo Firm](/blog/add-flax-seeds-to-blended-drinks-to-make-your-poo-firm/) 05/18/2022
- [Upgrading JupyterLab pip installs](/blog/upgrading-jupyterlab-pip-installs/) 05/17/2022
- [Yes, I Am a Dick Bucket](/blog/yes-i-am-a-dick-bucket/) 05/17/2022
- [Honestly, Fonzie](/blog/honestly-fonzie/) 05/16/2022
- [In Defense of Flying Monkeys & Recrimination of Anti-Narc Community](/blog/in-defense-of-flying-monkeys-recrimination-of-anti-narc-community/) 05/16/2022
- [When I Grew a Backbone, Story of The Samurai Mudskipper](/blog/when-i-grew-a-backbone-story-of-the-samurai-mudskipper/) 05/16/2022
- [Don't Kick That Football, Charlie Brown!](/blog/dont-kick-that-football-charlie-brown/) 05/15/2022
- [:b2 or not :b2, That Is The Question](/blog/b2-or-not-b2-that-is-the-question/) 05/13/2022
- [It's Time Someone Stood Up To You... And Survived](/blog/its-time-someone-stood-up-to-you-and-survived/) 05/13/2022
- [Friday The 13th 2022 KB5013624 Cumulative Update for .NET](/blog/friday-the-13th-2022-kb5013624-cumulative-update-for-net/) 05/13/2022
- [Righteous Feedback Loops of Self-Improvement](/blog/righteous-feedback-loops-of-self-improvement/) 05/13/2022
- [Teach Your Spouse vim on Windows Linux (WSL)](/blog/teach-your-spouse-vim-on-windows-linux-wsl/) 05/13/2022
- [Enabling vim's Visual Block mode on Linux WSL (Ctrl+v)](/blog/enabling-vims-visual-block-mode-on-linux-wsl-ctrl-v/) 05/11/2022
- [Use vim to Keep One Journal For Life](/blog/use-vim-to-keep-one-journal-for-life/) 05/10/2022
- [Anyone Who Tells You Language Doesn't Matter is a Lying Dumbass](/blog/anyone-who-tells-you-language-doesnt-matter-is-a-lying-dumbass/) 05/10/2022
- [A Driving Force of Integration](/blog/a-driving-force-of-integration/) 05/08/2022
- [Automating Meat Puppets On an Insanely Complex Stage](/blog/automating-meat-puppets-on-an-insanely-complex-stage/) 05/08/2022
- [Roomba Poobah Applesauce](/blog/roomba-poobah-applesauce/) 05/08/2022
- [:b5 And Stay Alive!](/blog/b5-and-stay-alive/) 05/07/2022
- [An Ode to The Uncompressibles (Linus, Guido, Ada & Grace)](/blog/an-ode-to-the-uncompressibles-linus-guido-ada-grace/) 05/07/2022
- [My Blogging System Is Now My Weekly Report System Too](/blog/my-blogging-system-is-now-my-weekly-report-system-too/) 05/07/2022
- [You Are Constantly Channeling](/blog/you-are-constantly-channeling/) 05/07/2022
- [Getting Into The Flow Or The Zone](/blog/getting-into-the-flow-or-the-zone/) 05/06/2022
- [What If My Life Were Just Beginning Now?](/blog/what-if-my-life-were-just-beginning-now/) 05/06/2022
- [Editing 15 Homepages at Once in vim](/blog/editing-15-homepages-at-once-in-vim/) 05/05/2022
- [Of Green Arrows and Red Armor](/blog/of-green-arrows-and-red-armor/) 05/05/2022
- [The Dangers of Being Predisposed (Why Apple Won)](/blog/the-dangers-of-being-predisposed-why-apple-won/) 05/05/2022
- [Adventures Installing Manim on Windows 11 (Not Under WSL Linux)](/blog/adventures-installing-manim-on-windows-11-not-under-wsl-linux/) 05/05/2022
- [Editing Files That Are The Same Across Multiple Sites](/blog/editing-files-that-are-the-same-across-multiple-sites/) 05/04/2022
- [Path(f'{\_path}').mkdir(parents=True, exist_ok=True)](/blog/path-f-path-mkdir-parents-true-exist-ok-true/) 05/04/2022
- [A New Way To Visualize General Relativity](/blog/a-new-way-to-visualize-general-relativity/) 05/04/2022
- [vim :b1 Commands Much Force Like Obi-Wan](/blog/vim-b1-commands-much-force-like-obi-wan/) 05/04/2022
- [Every Little Thing Is Becoming Easy](/blog/every-little-thing-is-becoming-easy/) 05/03/2022
- [What's Most Broken?](/blog/whats-most-broken/) 05/02/2022
- [Templatizing Google Analytics MEASUREMENT ID in Jekyll Github Pages](/blog/templatizing-google-analytics-measurement-id-in-jekyll-github-pages/) 05/02/2022
- [Bopping Between Python & Bash Scripts No Biggie](/blog/bopping-between-python-bash-scripts-no-biggie/) 05/02/2022
- [Bash Script Loading External Files](/blog/bash-script-loading-external-files/) 05/01/2022
- [Activating All My Registered Domains](/blog/activating-all-my-registered-domains/) 05/01/2022
- [From Jupyter Notebook to pip Installable Package In One Go](/blog/from-jupyter-notebook-to-pip-installable-package-in-one-go/) 05/01/2022
- [Pushing Blogslicer to PyPI (From Jupyter Notebook)](/blog/pushing-blogslicer-to-pypi-from-jupyter-notebook/) 05/01/2022
- [Sharpening My Prev/Next Arrows](/blog/sharpening-my-prev-next-arrows/) 05/01/2022
- [Making YouTube Embeds 100% Width But Fixed Aspect Ratio Height](/blog/making-youtube-embeds-100-width-but-fixed-aspect-ratio-height/) 05/01/2022
- [Disabling Github CI nbdev_install_git_hooks](/blog/disabling-github-ci-nbdev-install-git-hooks/) 05/01/2022
- [Writing a Bash Loop Script for Jekyll](/blog/writing-a-bash-loop-script-for-jekyll/) 05/01/2022
- [Adding Style Sheets to Github Pages Jekyll Blog](/blog/adding-style-sheets-to-github-pages-jekyll-blog/) 04/30/2022
- [Adding Prev/Next Arrows to Github Pages Jekyll Blog Posts](/blog/adding-prev-next-arrows-to-github-pages-jekyll-blog-posts/) 04/30/2022
- [Edit 10 Blogs, Homepages or Templates All At Once](/blog/edit-10-blogs-homepages-or-templates-all-at-once/) 04/30/2022
- [Moved WhatsaMetaFor.io Blog Content Here](/blog/moved-whatsametafor-io-blog-content-here/) 04/30/2022
- [Submerging A Migrated WordPress Site](/blog/submerging-a-migrated-wordpress-site/) 04/30/2022
- [Stop Using Stop-Words When They Reverse Meaning](/blog/stop-using-stop-words-when-they-reverse-meaning/) 04/29/2022
- [Every Little Project Gets Done!](/blog/every-little-project-gets-done/) 04/29/2022
- [Massaging 10 Sites Into Shape At Once](/blog/massaging-10-sites-into-shape-at-once/) 04/29/2022
- [Removing Stopwords From Jekyll Blog URLs](/blog/removing-stopwords-from-jekyll-blog-urls/) 04/29/2022
- [Adding Command-Line Argument Support to Jupyter Notebook](/blog/adding-command-line-argument-support-to-jupyter-notebook/) 04/28/2022
- [Creating Blog Index Page for Jekyll](/blog/creating-blog-index-page-for-jekyll/) 04/27/2022
- [Every Little Project Gets Done (ELPGD)](/blog/every-little-project-gets-done-elpgd/) 04/27/2022
- [Turning Repo into nbdev Project](/blog/turning-repo-into-nbdev-project/) 04/26/2022
- [Using Blog Titles for Filenames](/blog/using-blog-titles-for-filenames/) 04/26/2022
- [Slicing & Dicing Single File to Jekyll Blog Posts](/blog/slicing-dicing-single-file-to-jekyll-blog-posts/) 04/25/2022
- [How To Control URLs and Links in Jekyll](/blog/how-to-control-urls-and-links-in-jekyll/) 04/23/2022
- [Why Programming Is Easy But Math Is Hard](/blog/why-programming-is-easy-but-math-is-hard/) 04/23/2022
- [Dial-down Negativity & Dial-up Positivity](/blog/dial-down-negativity-dial-up-positivity/) 04/22/2022
- [My Stories Leading Up To Linux, Python, vim & git](/blog/my-stories-leading-up-to-linux-python-vim-git/) 04/22/2022
- [Studies On The Effect Of Negativity](/blog/studies-on-the-effect-of-negativity/) 04/21/2022
- [Always Be Writing Though Language Is Full of Lies](/blog/always-be-writing-though-language-is-full-of-lies/) 04/21/2022
- [Get Your Daily vim Exercise](/blog/get-your-daily-vim-exercise/) 04/15/2022
- [The Importance of Digital Housekeeping](/blog/the-importance-of-digital-housekeeping/) 04/15/2022
- [Windows Home Folder vs. Linux Home Folder Under WSL](/blog/windows-home-folder-vs-linux-home-folder-under-wsl/) 04/13/2022
- [Teaching My Wife vim](/blog/teaching-my-wife-vim/) 04/10/2022
- [Always Be Publishing Via Journaling](/blog/always-be-publishing-via-journaling/) 04/09/2022
- [Jupyter Notebooks Are Dev Tools With nbdev](/blog/jupyter-notebooks-are-dev-tools-with-nbdev/) 04/08/2022
- [Okay, I'm Finally Keeping Audiences In Mind](/blog/okay-im-finally-keeping-audiences-in-mind/) 04/07/2022
- [Concurrent Web Crawling in Python](/blog/concurrent-web-crawling-in-python/) 02/21/2022
- [Journaling As Performance Art](/blog/journaling-as-performance-art/) 02/18/2022
- [Testing nbdev](/blog/testing-nbdev/) 02/17/2022
- [Making mlseo pip installable](/blog/making-mlseo-pip-installable/) 02/16/2022
- [All Repos Under ~/github](/blog/all-repos-under-github/) 02/15/2022
- [How I Became Obsessive About Obsolescence-Proofing](/blog/how-i-became-obsessive-about-obsolescence-proofing/) 11/14/2021
- [All My Sites Will Be In Play](/blog/all-my-sites-will-be-in-play/) 08/30/2021
- [Struggling Through Github Pages Startup Process](/blog/struggling-through-github-pages-startup-process/) 08/26/2021
- [Time To Tell My Stories](/blog/time-to-tell-my-stories/) 08/24/2021
- [Adding Google Analytics to Github.io Page with Jekyll](/blog/adding-google-analytics-to-github-io-page-with-jekyll/) 08/20/2021
- [Jekyll include tags for Github.io YouTube Embedding](/blog/jekyll-include-tags-for-github-io-youtube-embedding/) 08/20/2021
- [Embedding YouTube Video Thumbnails on Github.io Pages](/blog/embedding-youtube-video-thumbnails-on-github-io-pages/) 08/20/2021
- [(Re)Launch MikeLevinSEO.com on Github.io](/blog/re-launch-mikelevinseo-com-on-github-io/) 08/06/2021
- [Make More Use of github.io for Blogging](/blog/make-more-use-of-github-io-for-blogging/) 08/05/2021