.center {
    text-align: center;
    width=100%;
}
 .arrow {
    font-size: 1.5rem;
}
 blockquote {
    margin: 0rem 0 0rem 1.5rem;
    padding: 0rem 0rem 0rem 1rem;
    border-left: 0.35rem solid var(--accent);
    color: var(--text-light);
    font-style: italic;
    font-family: 'Goldman';
    font-size: 1.3rem;
}
 body > header {
    background-color: #00036a;
}
 header > nav {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2;
    padding: 1rem 0 0 0;
}
footer {
    font-size: 1.7rem;
    font-family: 'Goldman';
}
 h1, h2, h4 {
    font-family: 'Goldman';
    font-weight: normal;
}
 h2 {
    margin-top: 1rem;
}
 h3 {
    font-family: 'mouse memoirs';
    font-weight: normal;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
 h4 {
    font-size: 1.6rem;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.8rem;
}
 .post-nav {
    display: flex;
    justify-content: flex-end;
    // justify-content: space-between;
    flex-wrap: wrap;
}
 .post-nav-prev {
    margin-right: auto;
    // text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 .post-nav-next {
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
 .post-link {
    font-size: 1.6rem;
    font-weight: bold;
}
 .meta {
    color: var(--text-light);
    font-size: 1rem;
}
 .blog-item {
    margin-bottom: 4rem;
}
 nav a.current {
    color: var(--accent) !important;
    border-color: var(--accent) !important;
}
 .notice {
    background: var(--accent-bg);
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 2rem 0;
}
 .medium {
    font-size: 1.4rem;
}
 .small {
    font-size: 1.125rem;
}
 .button {
    border: none;
    border-radius: 5px;
    background: var(--accent);
    font-size: 1.5rem;
    color: var(--bg);
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
}
 .button:hover, .button:focus {
    filter: brightness(1.4);
    cursor: pointer;
}
 .icon {
    vertical-align: sub;
    padding-right: .25rem;
    display: inline-block;
    width: 1em;
    height: 1.3em;
    margin-right: 0.2rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
