<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.type == "post" %}{{ post.title }}{% else %}{{ page.title }}{% endif %} | {{ site.title }}</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href="/assets/css/pico.css" />
<link rel="stylesheet" href="/assets/css/styles.css" />
<link rel="stylesheet" href="/assets/css/syntax.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Goldman">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gaid }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.gaid }}');
</script>
</head>
<body>
<header class="container">
    <nav>
<a {% if page.group == 'home' or page.url == "/" %}class="current" {% endif %}href="/">Home</a>
<a {% if page.group == 'about' or page.category == 'about' %}class="current" {% endif %}href="/about/">About</a>
<a {% if page.group == 'readme' or page.category == 'readme' %}class="current" {% endif %}href="/readme/">README</a>
<!--
<a {% if page.group == 'home' or page.url == "/" %}class="current" {% endif %}href="/">Home</a>
<a {% if page.group == 'nix-mac' or page.category == 'nix-mac' %}class="current" {% endif %}href="/nix-mac/">Nix on macOS</a>
<a {% if page.group == 'nix-win' or page.category == 'nix-win' %}class="current" {% endif %}href="/nix-win/">Nix on Windows</a>
<a {% if page.group == 'home' or page.url == "/" %}class="current" {% endif %}href="/">Home</a>
<a {% if page.group == 'python' or page.category == 'python' %}class="current" {% endif %}href="/python/">Python</a>
<a {% if page.group == 'crawler' or page.category == 'crawler' %}class="current" {% endif %}href="/crawler/">Crawler</a>
<a {% if page.group == 'keywords' or page.category == 'keywords' %}class="current" {% endif %}href="/keywords/">Keywords</a>
-->
</nav>
</header>
<main class="container">
{{ content }}
</main>
<footer class="container">
{% include footernav.html %}
</footer>
<!-- Script for copy-to-clipboard functionality -->
<script src="/assets/js/copy-code.js"></script>
</body>
</html>
